footer {
    background: rgba(53, 53, 53, 1);
    width: 100%;
    .container-footer {
        padding: 30px;
        color: white;
        p {
            margin: 0;
        }
        h2 {
            margin-top: 0;
        }
        .container-link{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .title-footer {
        font-style: italic;
        font-family: Shrikhand;
        font-size: 16px;
        text-align: left;
    }

    .icon-footer {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        i.fa-solid.fa-handshake{
            transform: rotateZ(330deg);
        }
    }
  
    .text-footer{
        color: white;
    }
}

@media (min-width: 1024px) {  
   
    .container-footer {
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
        align-items: center;   
    }
    .container-link{
        flex-direction: row !important;
    }
    h2{
        margin-right: 15px;
        margin-top: 15px;
    }
    .title-footer{
        margin-top: 20px;
    }
    .text-footer{
        color: white; 
        margin-right: 20px!important;
    }
}

