$primary: black;

header{
    .logo-container{
        margin: auto;
        text-align: center;
        padding: 15px;
        #img-logo{
            width: 197px;
            height: 36px;
        } 
    }
    .container-nav{
        background-color: rgb(241, 239, 239);
        width: 100%;
        height: 40px;
        position: relative;
        box-shadow: 1px 3px 3px 0px hsl(0, 2%, 78%), 1px -3px 3px 0px hsl(0, 2%, 78%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
    }
  
    a{
        color: $primary;
        size: 16px;
        font-family: sans-serif;
    }
    
}

