body {
    margin: 0;
    font-family: Roboto;

    a{
      text-decoration: none;
    }

    main {
        .btn-container{
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-left: 10px;
          padding-bottom: 60px;
          padding-top: 20px;
        }
        .title-container {
            text-align: center;
            background-color: #F6F6F6;
            padding: 50px;
          
            .title-link {
                background: linear-gradient(193.33deg, #9356DC -20.44%, #FF79DA 123.93%);
                padding: 15px;
                border-radius: 25px;
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
            p{
                margin-bottom: 30px;
            } 
            h1{
                margin: auto;
            }
        }

        .btn-choice{
            background-color: rgba(246, 246, 246, 1);
            width: 90%;
            margin: auto;
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            position: relative;
            
          #icon-color{
            color: rgba(147, 86, 220, 1);
            font-size: 30px;
            transform: translate(-1rem );
          } 
          
          .number{
            position: absolute;
            left: 10px;
            color: white;
            font-weight: bold;
            transform: translate(-1rem);
          }

          .btn-title{
            position: relative;
            left: 40px;
            font-weight: bold;
          }

          .icon-title{
            size:50px;
          }

          i#icon-title.fa-solid.fa-store{
            color: rgba(147, 86, 220, 1);
          }
        }
          .container-restaurants{
            width: 100%;
            background-color: rgb(250, 249, 249);
            padding-top: 30px;
            padding-bottom: 60px;

            h2{
              margin-left: 10px;
            }

            .card{
              background-color: white;
              width: 90%;
              height: 251px;
              margin-left: 18px;
              border-top-right-radius: 15px;
              border-top-left-radius: 15px;
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
              margin-bottom: 20px;
            }

            .img-card{
              display: flex;
              width: 100%;
              justify-content: space-between;
              object-fit: cover;
              margin: auto;
              height: 170px;
              border-top-right-radius: 15px;
              border-top-left-radius: 15px;            
            }

            .card-text{
              color: black;
              margin-left: 10px;
              line-height: 5px;
              margin-top: 15px;
            }

            h3.title-h3{
              margin-top: 25px;
            }

            .rectangle{
              background: rgba(153, 226, 208, 1);
              width: 80px;
              height: 29px;
              position: absolute;
              transform: translate(16rem, -10rem);
              color: rgba(0, 135, 102, 1);
              display: flex;
              align-items: center;
            }

            p.new-text{
             margin-left: 10px;
            }

            i.fa-regular.fa-heart{
              position: absolute;
              right: 10%;
              transform: translate(-15px, -2.2rem);
            }

            .heart,.heart-active{
              position: relative;
              right: 10px;
              transform: translate(-40px, -2.2rem);
              background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
              transition-duration: 250ms;
              cursor: pointer;
              transition: opacity 250ms;
              
              }
              
            }
        
    }
}