header {
    .icone-1 {
        position: absolute;
        left: 30px;
        top: 25px;
    }
}

main {
    .container-card {
        background-color: rgba(246, 246, 246, 1);
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        position: relative;
        bottom: 60px;

        .container-title {
            display: flex;
            gap: 50px;
            align-items: center;
            margin-left: 15px;
            justify-content: space-between;
        }
    }

    img {
        height: 295px;
        width: 100%;
    }

    h1 {
        font-size: 32px;
        font-weight: bold;
        font-family: roboto;
        
    }

    .icon-menu {
        position: relative;
        width: 60px;
        margin: 0;

        i {
            background: linear-gradient(193.33deg, #9356DC -20.44%, #FF79DA 123.93%);
            position: absolute;
            transition: opacity 0.5s ease-in-out;
        }

        .active-heart {
            opacity: 0;
        }

        .active-heart:hover {
            opacity: 1;
        }
    }

    .title-card {
        margin-left: 15px;
        padding-top: 30px;
    }

    h2 {
        font-weight: normal;
        font-family: roboto;
        margin: 0;
    }

    .ligne-title {
        background-color: rgba(153, 226, 208, 1);
        width: 45px;
        height: 3px;
        border: 3px;
        margin-top: 5px;
    }

    .card-menu {
        background-color: white;
        height: 72px;
        padding: 10px;
        border-radius: 15px 15px 15px 15px;
        margin: 10px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;

        p {
            margin: 0;
        }

        .subtitle-card {
            color: black;
            font-weight: 300;
            font-size: small;
            padding-left: 10px;
            line-height: 5px;
        }

        h3 {
            color: black;
            font-weight: 500;
            margin: 0;
        }

        .card-prices {
            color: black;
            font-weight: bold;
            display: flex;
            align-items: center;
            transform: translateX(70px);
            transition: transform 0.5s ease;

            p {
                margin: -30px;
                margin-right: 20px;
            }

            .check {
                align-items: center;
                display: flex;
                height: 100%;
                background:  rgba(153, 226, 208, 1);
                padding: 10px;
                width: 40px;
                justify-content: center;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }

            i.fa-solid.fa-circle-check{
                color: white;
            }
        }

        .text-card {
            color: black;
            height: 100%;
            justify-content: center;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }

    .card-menu:hover .card-prices {
        transform: translateX(0);
        margin-right: -10px;
    }

    .rectangle{
        display: flex;
        justify-content: center;
    }
    .title-link-menu {
        background: linear-gradient(193.33deg, #9356DC -20.44%, #FF79DA 123.93%);
        padding: 20px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .link-menu {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: large;
    }

    .space-icon {
        margin-left: 55px;
    }

}

@media (min-width: 1024px){
    
        main {
            .container-card {
                background-color: rgba(246, 246, 246, 1);
                width: 70%;
                left: 159px;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                
                .container-title {
                    display: flex;
                    gap: 50px;
                    justify-content: center;
                    margin-left: 15px;
                }
            }

            img {
                height: 400px;
            }

            h1{
                display: flex;
                align-items: center;
                font-family: roboto;
                font-weight: bold;
            }

        
            .card-menu{
                width: 65%;
                height: 50px;
                margin: auto;
                margin-bottom: 10px;
                animation: menu 3s;
            }
            .title-card{
                margin-left: 120px;
                margin-bottom: 10px;
            }
            .title-link-menu{
                width: 30%;  
            }
        }
    }
    .footer-restaurants{
        i.fa-solid.fa-utensils{
            margin-right: 170px;
        }
        i.fa-solid.fa-handshake{
            margin-right: -200px;
        }
    }
