header {
    .icone-1 {
        position: absolute;
        left: 30px;
        top: 25px;
    }
}

main {
    .container-card {
        background-color: rgba(246, 246, 246, 1);
        width: 100%;
        height: 1250px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        position: relative;
        bottom: 60px;
        .container-title {
            display: flex;
            gap: 50px;
            align-items: center;
            margin-left: 15px;
        }
    }

    img {
        height: 295px;
        width: 100%;
    }

    h1 {
        font-size: 28px;
        font-style: italic;
        font-weight: bold;
        font-weight: 400;
        font-family: shrikhand;
    }

    .icon-menu {
        position: relative;
        width: 30px;
        margin: 0;

        i {
            background: linear-gradient(193.33deg, #9356DC -20.44%, #FF79DA 123.93%);
            position: absolute;
            transition: opacity 0.5s ease-in-out;
        }

        .active-heart {
            opacity: 0;
        }

        .active-heart:hover {
            opacity: 1;
        }
    }

    .title-card{
        margin-left: 15px;
        padding-top: 30px;
    }

    h2 {
        font-size: large;
        font-weight: 300;
        font-family: roboto;
        margin: 0;
    }

    .ligne-title {
        background-color: rgba(153, 226, 208, 1);
        width: 45px;
        height: 3px;
        border: 3px;
        margin-top: 5px;
    }

    .card-menu {
        background-color: white;
        height: 72px;
        border-radius: 15px 15px 15px 15px;
        margin: 10px;
        
        .subtitle-card {
            color: black;
            font-weight: 300;
            font-size: small;
            padding-left: 10px;
            line-height:    5px;
        }
        h3 {
            color: black;
            font-weight: 500;
            padding-left: 10px;
            padding-top: 20px;
        }
        .card-prices {
            color: black;
            font-weight: bold;
            display: flex;
            justify-content: flex-end;

        p{
            margin: -30px;
            margin-right: 20px;
        }
        }
        .text-card{
            line-height: 5px;
        }
    }

    .title-link-menu {
        background: linear-gradient(193.33deg, #9356DC -20.44%, #FF79DA 123.93%);
        padding: 20px;
        border-radius: 30px;
        margin-right: 80px;
        margin-left: 80px;  
        margin-top: 30px;  
    }
    .link-menu{
        color: white;
        text-decoration: none;
        font-weight: bold;
        padding-left: 45px;
        font-size: large;
    }
}