header .logo-container {
  margin: auto;
  text-align: center;
  padding: 15px;
}
header .logo-container #img-logo {
  width: 197px;
  height: 36px;
}
header .container-nav {
  background-color: rgb(241, 239, 239);
  width: 100%;
  height: 40px;
  position: relative;
  box-shadow: 1px 3px 3px 0px hsl(0, 2%, 78%), -5px 4px 20px 0px hsl(0, 2%, 78%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header a {
  color: black;
  size: 16px;
  font-family: sans-serif;
}

@media (min-width: 900px) {
  header .container-nav {
    box-shadow: none;
  }
}
header .icone-1 {
  position: absolute;
  left: 30px;
  top: 25px;
}

main .container-card {
  background-color: rgb(246, 246, 246);
  width: 100%;
  height: 1250px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  bottom: 60px;
}
main img {
  height: 295px;
  width: 100%;
}
main h1 {
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  font-weight: 400;
  font-family: shrikhand;
  position: absolute;
  left: 15px;
}
main .icone-menu {
  position: relative;
  top: 35px;
  left: 330px;
}
main .icone-menu i {
  background: linear-gradient(193.33deg, #9356DC -20.44%, #FF79DA 123.93%);
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}
main .icone-menu .active-heart {
  opacity: 0;
}
main .icone-menu .active-heart:hover {
  opacity: 1;
}
main h2 {
  font-weight: 300;
  font-family: roboto;
  position: absolute;
  top: 80px;
  left: 15px;
}
main .ligne-title {
  background-color: rgb(153, 226, 208);
  width: 60px;
  height: 3px;
  border: 3px;
  position: absolute;
  top: 135px;
  left: 15px;
}
main .card-menu {
  background-color: white;
  height: 72px;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 150px;
  gap: 5px;
}
main h3 {
  color: black;
  font-weight: 500;
  position: relative;
  left: 10px;
  bottom: 8px;
}
main .subtitle-card {
  color: black;
  font-weight: 300;
  position: relative;
  left: 10px;
  bottom: 20px;
  font-size: small;
}
main .card-prices {
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: end;
  margin-right: 20px;
  position: relative;
  bottom: 68px;
}
main .card-menu-2 {
  background-color: white;
  height: 72px;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 240px;
  gap: 5px;
}
main .card-menu-3 {
  background-color: white;
  height: 72px;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 330px;
  gap: 5px;
}
main .title-card-2 {
  position: absolute;
  top: 340px;
}
main .ligne-title-2 {
  background-color: rgb(153, 226, 208);
  width: 60px;
  height: 3px;
  border: 3px;
  position: absolute;
  top: 478px;
  left: 15px;
}
main .card-menu-4 {
  background-color: white;
  height: 72px;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 500px;
  gap: 5px;
}
main .card-menu-5 {
  background-color: white;
  height: 72px;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 590px;
  gap: 5px;
}
main .card-menu-6 {
  background-color: white;
  height: 72px;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 680px;
  gap: 5px;
}
main .title-card-3 {
  position: absolute;
  top: 690px;
}
main .ligne-title-3 {
  background-color: rgb(153, 226, 208);
  width: 60px;
  height: 3px;
  border: 3px;
  position: absolute;
  top: 830px;
  left: 15px;
}
main .card-menu-7 {
  background-color: white;
  height: 72px;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 850px;
  gap: 5px;
}
main .card-menu-8 {
  background-color: white;
  height: 72px;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 940px;
  gap: 5px;
}
main .card-menu-9 {
  background-color: white;
  height: 72px;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 1030px;
  gap: 5px;
}
main .title-link-menu {
  background: linear-gradient(193.33deg, #9356DC -20.44%, #FF79DA 123.93%);
  padding: 20px;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  bottom: 45px;
  left: 95px;
}

footer .container-footer {
  background: rgb(53, 53, 53);
  color: white;
  width: 100%;
  height: 186px;
  padding: 10px 0px 25px;
}
footer .title-footer {
  margin-left: 40px;
  font-style: italic;
  font-family: Shrikhand;
  font-size: 16px;
  text-align: left;
}
footer .icon-footer {
  color: white;
}
footer .text-footer {
  margin-left: 40px;
}
footer i.fa-solid.fa-utensils {
  position: absolute;
  transform: translate(0.5rem, 0px);
  margin-left: 35px;
}
footer i.fa-solid.fa-handshake {
  position: absolute;
  transform: translate(0.2rem, 38px);
  margin-left: 40px;
}
footer .text-icon {
  margin-left: 70px;
}

body {
  margin: 0;
  font-family: Roboto;
}
body a {
  text-decoration: none;
}
body main .btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  padding-bottom: 60px;
  padding-top: 20px;
}
body main .title-container {
  text-align: center;
  background-color: #F6F6F6;
  padding: 50px;
}
body main .title-container .title-link {
  background: linear-gradient(193.33deg, #9356DC -20.44%, #FF79DA 123.93%);
  padding: 15px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
body main .title-container p {
  margin-bottom: 30px;
}
body main .title-container h1 {
  margin: auto;
}
body main .btn-choice {
  background-color: rgb(246, 246, 246);
  width: 90%;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
body main .btn-choice #icon-color {
  color: rgb(147, 86, 220);
  font-size: 30px;
  transform: translate(-1rem);
}
body main .btn-choice .number {
  position: absolute;
  left: 10px;
  color: white;
  font-weight: bold;
  transform: translate(-1rem);
}
body main .btn-choice .btn-title {
  position: relative;
  left: 40px;
  font-weight: bold;
}
body main .btn-choice .icon-title {
  size: 50px;
}
body main .btn-choice i#icon-title.fa-solid.fa-store {
  color: rgb(147, 86, 220);
}
body main .container-restaurants {
  background-color: rgb(250, 249, 249);
  padding-top: 30px;
  padding-bottom: 60px;
}
body main .container-restaurants h2 {
  margin-left: 10px;
}
body main .container-restaurants .card {
  background-color: white;
  width: 100%;
  height: 251px;
  position: relative;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 20px;
}
body main .container-restaurants .img-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  object-fit: cover;
  margin: auto;
  height: 170px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
body main .container-restaurants .card-text {
  color: black;
  margin-left: 10px;
  line-height: 5px;
  margin-top: 15px;
}
body main .container-restaurants h3.title-h3 {
  margin-top: 25px;
}
body main .container-restaurants .rectangle {
  top: 15px;
  right: 25px;
  justify-content: center;
  background: rgb(153, 226, 208);
  width: 80px;
  height: 29px;
  position: absolute;
  color: rgb(0, 135, 102);
  display: flex;
  align-items: center;
}
body main .container-restaurants p.new-text {
  margin-left: 10px;
}
body main .container-restaurants .footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
body main .container-restaurants .footer-card .icon-heart {
  position: relative;
  width: 30px;
  right: 0;
}
body main .container-restaurants .footer-card .icon-heart i {
  background: linear-gradient(193.33deg, #9356DC -20.44%, #FF79DA 123.93%);
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}
body main .container-restaurants .footer-card .icon-heart .active-heart {
  opacity: 0;
}
body main .container-restaurants .footer-card .icon-heart .active-heart:hover {
  opacity: 1;
}

@media (min-width: 800px) {
  body main .container-flex {
    display: flex;
    gap: 30px;
  }
  body main .btn-choice {
    width: calc(33% - 15px);
  }
  body main .btn-container {
    padding: 40px;
  }
  body main .container-restaurants {
    padding: 40px;
  }
  body main .container-restaurants a {
    width: calc(50% - 30px);
  }
  body main .restaurants-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
