header .logo-container {
  margin: auto;
  text-align: center;
  padding: 15px;
}
header .logo-container #img-logo {
  width: 197px;
  height: 36px;
}
header .container-nav {
  background-color: rgb(241, 239, 239);
  width: 100%;
  height: 40px;
  position: relative;
  box-shadow: 1px 3px 3px 0px hsl(0, 2%, 78%), -5px 4px 20px 0px hsl(0, 2%, 78%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header a {
  color: black;
  size: 16px;
  font-family: sans-serif;
}

@media (min-width: 1024px) {
  header .container-nav {
    box-shadow: none;
  }
}
header .icone-1 {
  position: absolute;
  left: 30px;
  top: 25px;
}

main .container-card {
  background-color: rgb(246, 246, 246);
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  bottom: 60px;
}
main .container-card .container-title {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: 15px;
  justify-content: space-between;
  margin-right: 25px;
}
main img {
  height: 295px;
  width: 100%;
}
main h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: shrikhand;
}
main .title-card {
  margin-left: 15px;
  padding-top: 30px;
}
main h2 {
  font-weight: normal;
  font-family: roboto;
  margin: 0;
}
main .ligne-title {
  background-color: rgb(153, 226, 208);
  width: 45px;
  height: 3px;
  border: 3px;
  margin-top: 5px;
}
main .card-menu {
  background-color: white;
  height: 72px;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  margin: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
main .card-menu p {
  margin: 0;
}
main .card-menu .subtitle-card {
  color: black;
  font-weight: 300;
  font-size: small;
  padding-left: 10px;
  line-height: 5px;
}
main .card-menu h3 {
  color: black;
  font-weight: 500;
  margin: 0;
}
main .card-menu .card-prices {
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  transform: translateX(70px);
  transition: transform 0.5s ease;
}
main .card-menu .card-prices p {
  margin: -30px;
  margin-right: 20px;
}
main .card-menu .card-prices .check {
  align-items: center;
  display: flex;
  height: 100%;
  background: rgb(153, 226, 208);
  padding: 10px;
  width: 40px;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
main .card-menu .card-prices i.fa-solid.fa-circle-check {
  color: white;
}
main .card-menu .text-card {
  color: black;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main .card-menu:hover .card-prices {
  transform: translateX(0);
  margin-right: -10px;
}
main .rectangle {
  display: flex;
  justify-content: center;
}
main .title-link-menu {
  background: linear-gradient(193.33deg, #9356DC -20.44%, #FF79DA 123.93%);
  padding: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 0;
}
main .link-menu {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}
main .space-icon {
  margin-left: 55px;
}

@media (min-width: 1024px) {
  main .container-card {
    background-color: rgb(246, 246, 246);
    width: 70%;
    left: 159px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  main .container-card .container-title {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-left: 15px;
  }
  main img {
    height: 400px;
  }
  main h1 {
    display: flex;
    align-items: center;
    font-family: shrikhand;
    font-weight: bold;
  }
  main .card-menu {
    width: 65%;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    animation: menu 3s;
  }
  main .title-card {
    margin-left: 120px;
    margin-bottom: 10px;
  }
  main .title-link-menu {
    width: 30%;
  }
}
.footer-restaurants i.fa-solid.fa-utensils {
  margin-right: 170px;
}
.footer-restaurants i.fa-solid.fa-handshake {
  margin-right: -200px;
}

footer {
  background: rgb(53, 53, 53);
  width: 100%;
}
footer .container-footer {
  padding: 30px;
  color: white;
}
footer .container-footer p {
  margin: 0;
}
footer .container-footer h2 {
  margin-top: 0;
}
footer .container-footer .container-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .title-footer {
  font-style: italic;
  font-family: Shrikhand;
  font-size: 16px;
  text-align: left;
}
footer .icon-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
footer .icon-footer i.fa-solid.fa-handshake {
  transform: rotateZ(330deg);
}
footer .text-footer {
  color: white;
}

@media (min-width: 1024px) {
  .container-footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    align-items: center;
  }
  .container-link {
    flex-direction: row !important;
  }
  h2 {
    margin-right: 15px;
    margin-top: 15px;
  }
  .title-footer {
    margin-top: 20px;
  }
  .text-footer {
    color: white;
    margin-right: 20px !important;
  }
}
body {
  margin: 0;
  font-family: Roboto;
}
body a {
  text-decoration: none;
}
body main .btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 10px;
  padding-bottom: 60px;
  padding-top: 20px;
}
body main .btn-container .container-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body main .btn-container h2 {
  font-weight: bold;
  margin-left: 14px;
}
body main .title-container {
  text-align: center;
  background-color: #F6F6F6;
  padding: 50px;
}
body main .title-container .title-link {
  background: linear-gradient(193.33deg, #9356DC -20.44%, #FF79DA 123.93%);
  padding: 15px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
body main .title-container p {
  margin-bottom: 30px;
}
body main .title-container h1 {
  margin: auto;
  font-family: roboto;
}
body main .btn-choice {
  background-color: rgb(246, 246, 246);
  width: 90%;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
body main .btn-choice #icon-color {
  color: rgb(147, 86, 220);
  font-size: 30px;
  transform: translate(-1rem);
}
body main .btn-choice .number {
  position: absolute;
  left: 10px;
  color: white;
  font-weight: bold;
  transform: translate(-1rem);
}
body main .btn-choice .btn-title {
  position: relative;
  left: 40px;
  font-weight: bold;
}
body main .btn-choice .icon-title {
  size: 50px;
}
body main .btn-choice i#icon-title.fa-solid.fa-store {
  color: rgb(147, 86, 220);
}
body main .container-restaurants {
  background-color: rgb(250, 249, 249);
  padding-top: 30px;
  padding-bottom: 60px;
}
body main .container-restaurants h2 {
  font-weight: bold;
  margin-left: 17px;
  margin-bottom: 15px;
}
body main .container-restaurants .restaurants-cards {
  margin: 20px;
}
body main .container-restaurants .card {
  background-color: white;
  width: 100%;
  height: 251px;
  position: relative;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 20px;
}
body main .container-restaurants .img-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  object-fit: cover;
  margin: auto;
  height: 170px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
body main .container-restaurants .card-text {
  color: black;
  margin-left: 10px;
  line-height: 5px;
}
body main .container-restaurants h3.title-h3 {
  margin-top: 25px;
}
body main .container-restaurants .rectangle {
  top: 15px;
  right: 25px;
  justify-content: center;
  background: rgb(153, 226, 208);
  width: 80px;
  height: 29px;
  position: absolute;
  color: rgb(0, 135, 102);
  display: flex;
  align-items: center;
}
body main .container-restaurants p.new-text {
  margin-left: 10px;
}
body main .container-restaurants .footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-right: 15px;
}

@media (min-width: 1024px) {
  body main .container-flex {
    display: flex;
    flex-direction: row !important;
    gap: 30px;
  }
  body main h1 {
    display: flex;
    justify-content: center;
  }
  body main .btn-choice {
    width: calc(33% - 15px);
  }
  body main .btn-container {
    padding: 40px;
  }
  body main .container-restaurants {
    padding: 40px;
  }
  body main .container-restaurants a {
    width: calc(50% - 30px);
  }
  body main .restaurants-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
  body main .card-text {
    margin-top: 0 !important;
  }
}
@keyframes menu {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

body .body-loader {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-family: sans-serif;
  color: white;
  text-align: center;
  font-size: 40px;
  animation: fadeout 5s ease-in;
  animation-fill-mode: forwards;
}
body .container-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16a085;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
}
body .loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
body .loader-quart {
  border-radius: 50px;
  border: 6px solid rgb(153, 226, 208);
}
body .loader-quart::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: white;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.icon-menu {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0;
  display: inline-block;
}
.icon-menu i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}
.icon-menu .heart {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.icon-menu .active-heart {
  font-size: 24px;
  cursor: pointer;
  background: -webkit-linear-gradient(90deg, #9356DC -20.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.icon-menu:hover .heart {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.icon-menu:hover .active-heart {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
